<DICTYPE Html>
<html lang="en">
<head>
<title>SSM webpage</title>
<img src="C:\Users\Shalu\Desktop\Web Page\abstract-people-logo.jpg" alt="SSM shoping logo" width="100" height=:"200" > 
<h1 style="color:blue;">SSM Shoping Hub</h1></p>

</head>
<body>
